/build
/build-x64
/build-xcode
/assets/*.dat
/assets/rect_output.png
/crawler/.idea/workspace.xml
/modis/tif
/modis/*.pyc
/modis/__pycache__
/modis/png-2x1-offset/*.dump
/modis/png-2x1-offset/*.rtree
